* {
    margin: 0;;
    padding: 0;
    background-color: aqua;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: red;
    padding: 10px;
}

.images {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}